body{
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #666;
        /* background:url(../img/interfaz/bg2.jpg); */
		width:100%;
		height:100%;
		position:relative;
		margin:0px;
		padding:0px;
		overflow:hidden;
    }
      h1 {
        margin-top: 0;
      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }
      li {
        margin-bottom: 20px;
        clear: both;
      }
      label {
        font-size: 10px;
        font-weight: bold;
        text-transform: uppercase;
        display: block;
        margin-bottom: 3px;
        clear: both;
      }

a{
	text-decoration:none;
}

a:hover{
	text-decoration:underline;
}

#juego{
	margin-top:10px;
	width:700px;
	height:500px;
	border: solid #000; 3px;
}

#C1 {color:#000;}
#C2  {color:#008;}
#C3  {color:#004;}
#C4  {color:#080;}
#C5  {color:#088;}
#C6  {color:#084;}
#C7  {color:#040;}
#C8  {color:#048;}
#C9  {color:#044;}
#C10 {color:#800;}
#C11 {color:#808;}
#C12 {color:#804;}
#C13 {color:#880;}
#C14 {color:#888;}
#C15 {color:#884;}
#C16 {color:#840;}
#C17 {color:#848;}
#C18 {color:#844;}
#C19 {color:#400;}
#C20 {color:#408;}
#C21 {color:#404;}
#C22 {color:#480;}
#C23 {color:#4CC;}
#C24 {color:#440;}
#chat {height:70px; width:100%; position:relative; font-family:courier new,monospace; font-size:11px; line-height:16px; border:1px solid #CCC; background:#EEE; overflow-y:scroll; overflow-x: hidden; }
#message {font-family:courier new,monospace; font-size:12px; color:#00F;}